@import "tailwindcss";

@theme{
  --font-sans: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, system-ui;
}

:root {
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #000000;
  --border: #2e303a;
  --code-bg: #23242e;
  --accent: #30abe0;
  --accent-bg: rgba(56, 189, 248, 0.15);
  --accent-border: rgba(56, 189, 248, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
  rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}